body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #3c3c3c;
}

.app {
  text-align: center;
}

textarea {
  margin: 0;
  border-radius: 0;
  color: #444;
  background-color: transparent;
}

.backdrop {
  overflow: auto;
  background-color: #fff;
}

.highlights {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
}

mark {
  color: transparent;
  background-color: #d4e9ab;
}

h1,
h3 {
  font-family: "Merriweather", serif;
  text-align: center;
}

ul {
  text-align: center;
  list-style-position: inside;
  list-style: none;
}

.match {
  background-color: #42ffcc;
}

.notamatch {
  background-color: #fd3a5c;
}

.partial {
  color: violet;
}

/* hj #fd3a5c */
